<!-- <h1 align="center">Recruitment Management System</h1>

<nav class="nav nav-pills nav-fill navbar-dark bg-dark">
    <a class="nav-item nav-link" href="/about">About Us</a>
    <a class="nav-item nav-link" href="/add">Add Product</a>
    <a class="nav-item nav-link" href="/search">Search Product</a>
    <a class="nav-item nav-link" href="/show">Show Product</a>
    <a class="nav-item nav-link" href="/update">Update Product</a>
    <a class="nav-item nav-link" href="/registercompany">Register Company</a>
</nav> -->

<!--
  Paste this navbar in company or user page
-->


<!-- <router-outlet></router-outlet> -->


    <router-outlet></router-outlet>
