<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Job Search</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/comport/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="assets/comport/css/animate-3.7.0.css">
    <link rel="stylesheet" href="assets/comport/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="assets/comport/fonts/flat-icon/flaticon.css">
    <link rel="stylesheet" href="assets/comport/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="assets/comport/css/owl-carousel.min.css">
    <link rel="stylesheet" href="assets/comport/css/nice-select.css">
    <link rel="stylesheet" href="assets/comport/css/style.css">
</head>

<body>

    <!-- Header Area Starts -->
    <header class="header-area single-page">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo-area">
                            <a href="/home"><img src="assets/comport/images/logo-light.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="custom-navbar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="main-menu main-menu-light">
                            <ul>
                                <li class="active"><a href="/userpage">home</a></li>
                                <li><a href="about.html">Applied Jobs</a></li>
                                <li class="menu-btn">
                                    <a href="/logout" class="template-btn">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2>Job Search</h2>
                        <p>If oppurtunity dosen't knock, build a door.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->


    <!-- <mat-form-field>
        <mat-label>Cars</mat-label>
        <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field> -->


    <!-- Search Area Starts -->
    <div class="search-area">
        <div class="search-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#" class="d-md-flex justify-content-between">
                            <select name="Designation" [(ngModel)]="searchData.designation">
                                <option value="Software Developer">Software Developer</option>
                                <option value="Full Stack Developer">Full Stack Developer</option>
                                <option value="Data Scientist">Data Scientist</option>
                                <option value="Web Developer">Web Developer</option>
                                <option value="UX Designer">UX Designer</option>
                            </select>
                            <select name="Location" [(ngModel)]="searchData.location">
                                <option value="Pune">Pune</option>
                                <option value="Banglore">Banglore</option>
                                <option value="Hydrebad">Hydrebad</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                            <button type="submit" (click)="searchJob()" class="template-btn">find job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mt-5">
                    <span>49 Results found for “Telecommunication”</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Area End -->


    <!-- Jobs Area Starts -->
    <!-- <section class="jobs-area section-padding">
        <div *ngIf="show">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <table>
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <tr *ngFor='let job of jobList'>
                                    <div class="job-text">
                                        <h4>{{job.designation}}</h4>
                                        <ul class="mt-4">
                                            <li class="mb-3">
                                                <h5><i class="fa fa-map-marker"></i> {{job.companyName}}</h5>
                                            </li>
                                            <li class="mb-3">
                                                <h5><i class="fa fa-pie-chart"></i> {{job.location}}</h5>
                                            </li>
                                            <li>
                                                <h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="job-img align-self-center">
                                        <img src="assets/comport/images/job1.png" alt="job">
                                    </div>
                                    <div class="job-btn align-self-center">
                                        <button type="button" class="third-btn job-btn1"
                                            (click)="applyJob(jobList[i].jobId)">Apply</button>
                                    </div>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>
                <div class="more-job-btn mt-5 text-center">
                    <a href="#" class="template-btn">more job post</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Jobs Area End -->


    <section class="jobs-area section-padding">
        <div *ngIf="show">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div *ngFor="let job of jobList ; let i = index">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                        <h4>{{job.designation}}</h4>
                                        <ul class="mt-4">
                                            <li class="mb-3">
                                                <h5><i class="fa fa-map-marker"></i> {{job.companyName}}</h5>
                                            </li>
                                            <li class="mb-3">
                                                <h5><i class="fa fa-pie-chart"></i> {{job.location}}</h5>
                                            </li>
                                            <li>
                                                <h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="job-img align-self-center">
                                        <img src="assets/comport/images/job1.png" alt="job">
                                    </div>
                                    <div class="job-btn align-self-center">
                                        <button type="button" class="third-btn job-btn1"
                                            (click)="applyJob(jobList[i].jobId)">Apply</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-job-btn mt-5 text-center">
                    <a href="#" class="template-btn">more job post</a>
                </div>
            </div>
        </div>
    </section>


    <!-- <div *ngIf="show">
        <h3>Show Product</h3>
        <table border="2px">
            <tr>
                <th>Job Id</th>
                <th>Location</th>
            </tr>
            <tr *ngFor="let job of jobList; let i = index">
                <td>{{job.jobId}}</td>
                <td>{{job.location}}</td>
                <td>
                    <button type="button" (click)="applyJob(jobList[i].jobId)">Apply</button>
                </td>
            </tr>
        </table>
    </div> -->
</body>