<head>



  <!-- Title Page-->
  <title>Registration</title>

  <!-- Icons font CSS-->
  <link href="assets/loginregister/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet"
    media="all">
  <link href="assets/loginregister/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <!-- Font special for pages-->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS-->
  <link href="assets/loginregister/vendor/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="assets/loginregister/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href="assets/loginregister/css/main.css" rel="stylesheet" media="all">

</head>

<body>


  <header class="site-navbar py-1" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <h1 class="mb-0"><a href="/home" class="text-black h2 mb-0">Com<strong>port</strong></a></h1>
        </div>

        <div class="col-10 col-xl-10 d-none d-xl-block">
          <nav class="site-navigation text-right" role="navigation">

            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="/logout">Logout</a></li>
              <!-- <li><a href="new-post.html"><span class="rounded bg-primary py-2 px-3 text-white"><span class="h5 mr-2">+</span> Post a Job</span></a></li> -->
            </ul>
          </nav>
        </div>

        <div class="col-6 col-xl-2 text-right d-block">

          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
              class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>

      </div>
    </div>

  </header>


  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins"
    style="background-image: url(/assets/images/hero_bg_1.jpg);">


    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title">Add job</h2>
          <form #f="ngForm" name="registerform" novalidate>

            <div class="form-group">

              <div class="row row-space">
                <div class="input-group">
                  <label class="label">Job Title: </label>
                  <input class="input--style-4" [(ngModel)]="model.designation" type="text" name="designation" #designation="ngModel"
                    [ngClass]="{'is-invalid':f.submitted && designation.invalid }"
                    pattern="^[a-zA-Z0-9 ]*$" required>
                </div>
              </div>
              <div *ngIf="designation.invalid && (designation.dirty ||designation.touched || f.submitted)" class="alert alert-danger">
                <div *ngIf="designation.errors.required">
                  Designation is required.
                </div>
                <div *ngIf="designation.errors.pattern">No special characters allowed</div>
              </div>

              <div class="row row-space">
                <div class="input-group">
                  <label class="label">Location</label>
                  <input class="input--style-4" [(ngModel)]="model.location" type="text" name="location"
                    #location="ngModel" [ngClass]="{'is-invalid':f.submitted && location.invalid }"
                    pattern="^[a-zA-Z0-9 ]*$" required>
                </div>
              </div>
              <div *ngIf="location.invalid && (location.dirty ||location.touched || f.submitted)"
                class="alert alert-danger">
                <div *ngIf="location.errors.required">
                  Location is required.
                </div>
                <div *ngIf="location.errors.pattern">Enter valid location</div>
              </div>

              <!-- <div class="row form-group">
                <label class="label">Description</label>
                <div class="col-md-12 mb-3 mb-md-0">
                  <textarea name="" class="form-control" id="" cols="30" rows="5"
                  [(ngModel)]="model.qualification" required
                  ></textarea>
                </div>
              </div> -->

              <div class="row form-group">
                <div class="input-group">
                  <label class="label">Description</label>
                  <div class="col-md-12 mb-3 mb-md-0">
                    <textarea name="" class="form-control" id="" cols="30" rows="5" type="text"
                    [ngClass]="{'is-invalid':f.submitted && location.invalid }"
                    required></textarea>
                  </div>
                </div>
              </div>

              <div class="p-t-15">
                <button (click)="addJob()" [disabled]="f.form.invalid" class="btn btn--radius-2 btn--blue"
                  type="submit">Add Job</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Jquery JS-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Vendor JS-->
  <script src="vendor/select2/select2.min.js"></script>
  <script src="vendor/datepicker/moment.min.js"></script>
  <script src="vendor/datepicker/daterangepicker.js"></script>

  <!-- Main JS-->
  <script src="js/global.js"></script>